body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

h1 {
    margin-top: 30px;
}

.nav-logo {
    width: 55px;
}

.nav-list {
    list-style: none;
    display: flex;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list-item {
    margin-left: 10px;
    font-size: 1.1rem;
}